body {
  margin: 0;
  padding: 0 3px;
}

.App {
  margin: 0 auto;
  padding: 0 50px;
}
/* Navbar styling */

.navbar nav {
  position: relative;
  margin: 20px auto;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  width: 80%;
}

.login {
  /* display: inline-block; */
  float: right;
}

.navbar ul {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
}
.navbar li {
  text-decoration: none;
  display: inline-block;
}
.navbar a {
  position: relative;
  font-family: Quicksand;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  
  margin: 0;
  padding: 21px 5px;

  width:80px;
  color: #fff;
  display: inline-block;
  padding: 0 auto;
  /* text-shadow: 1px 1px 5px rgb(199, 199, 199); */
  transition: all 0.2s ease-out;
}

#nav-logo {
  font-family: Shippori Mincho;
  display: inline-block;
  margin: 8px 0;
}

#add-blog-button {
  align-self: center;
  padding: 11px 8px;
  color: black;
}

#add-blog-button:hover {
  padding-top: 13px;
  padding-bottom: 14px;
  background: rgba(49, 49, 49, 0.911);
  color: #fff;
}
#add-blog-button::before {
  margin: 0;
  padding: 20px;
  position: absolute;
  height: 130%;
  width: 140%;
  top: -1000%;
  z-index: -1;
  content:"";
}
#add-blog-button::before:hover {
  background: #222;
  color: #fff;
  top: -0%;
}
#about {
  background: #ffe046;
  right: 0%;
}

#about:hover {
  padding-top: 25px;
  padding-bottom: 25px
}
#contact {
  background: #ac4ae6;
  right: 0%;
}
#contact:hover {
  padding-top: 25px;
  padding-bottom: 25px;
}
#blog {
  background: #08e47d; 
  right: 0%;
}
#blog:hover {
  padding-top: 25px;
  padding-bottom: 25px
}
#log-in {
  background: #fc2403;
  right: 0%;
}
#sign-up {
  background: #00ab1c;
  right: 0%;
}

/* Home Page styling */

.homePage {
  margin: 20px auto;
  padding-left: 10px;  
  width: 80%;
}

/* Individual blog styling */

.single-blog {
 margin: 30px 0;
border-bottom: 1px solid #eee;
background: rgb(255, 255, 255);
}

.single-blog h2.title {
  font-family: Hind;
  font-weight: 300;
 font-size: 50px;
 margin-bottom: 0;
}

.single-blog .body {
  margin-bottom: 30px;
  font-family: Hind;
  font-weight: 300;
  background-color: #fcfcfc;
}

.single-blog .posted-on {
  color: #bbb;
  margin-bottom: 30px;
}

.single-blog .author {
  color: #bbb;
  margin: 40px 10px;
  font-size: 13px;
}